.bg-dark  {
  background-color: #3a3a3a;
}

 /* .App-Component-Map-Container {
  height: 50%;
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
} */

.App {
  background: blue;
  font-family: 'Sifonn Pro';
  }

.Header{
  background:#f9c04b;
  font-family: 'Sifonn Pro';
}

.header h3 {
  font-family: 'Sifonn Pro';
}

.MapContainerjs-Div {
  border: #ef686d;
  font-family: 'Sifonn Pro';
}

.profpic {
  border-radius: 50%;
  width: 50px;
  height: auto;
  font-family: 'Sifonn Pro';
}

.welcometext{
  font-family: 'Sifonn Pro';
  font-size: 10pt
}


.dropdown{
  font-family: 'Sifonn Pro';
  font-size: 14px;
  background:yellow;
  width: 15px;
  position: right;
}

.App-Component-Titles-Route-Container {
  background: #595758;
  font-family: 'Sifonn Pro';
}

.App-Component-Actors-Route-Container {
  background: lightcoral;
  font-family: 'Sifonn Pro';
}



@font-face {
  font-family: 'Sifonn Pro';
  font-style: normal;
  font-weight: normal;
  src: local('Sifonn Pro'), url('SIFONN_PRO.woff') format('woff');
  }

