.bg-dark  {
  background-color: #3a3a3a;
}

/* .App-Component-Map-Container {
  height: 50%;
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.App-Component-Map-Container iframe{
  left:0;
  top:0;
  height:15%;
  width:15%;
  position:fluid;
  } */

.Header{
  background:#f9c04b
}

.header h3 {
  font-family: 'Sifonn Pro';
}

.MapContainerjs-Div {
  border: #ef686d;

}

.dropdown{
  font-family: 'Sifonn Pro';
  font-size: 14px;
  background:yellow;
  width: 15px;
}

.App-Component-Titles-Route-Container {
  background: #595758;
  font-family: 'Sifonn Pro';
}

.App-Component-Actors-Route-Container {
  background: lightcoral;
  font-family: 'Sifonn Pro';
}

@font-face {
  font-family: 'Sifonn Pro';
  font-style: normal;
  font-weight: normal;
  src: local('Sifonn Pro'), url('SIFONN_PRO.woff') format('woff');
  }

