.app  {
  background-color: #3a3a3a;
}

.header h3 {
  font-family: 'Sifonn Pro';
}

.menu {

}

.dropdown{
  font-family: 'Sifonn Pro';
  font-size: 14px;
  /* background:red; */
  width:15px;
}

@font-face {
  font-family: 'Sifonn Pro';
  font-style: normal;
  font-weight: normal;
  src: local('Sifonn Pro'), url('SIFONN_PRO.woff') format('woff');
  }